doctype html

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be
//- set for each page. In this layout, the below values are
//- default fallbacks which a page will use if the config
//- options are not included with the page.

block config
    - var bodyClasses = 'bg-transparent';
    - var pageTitle = 'Page Title'

html(lang='en')

    head

        include includes/head/meta.pug
        include includes/head/title.pug
        include includes/head/icons.pug
        include includes/head/css.pug

    body

        // Layout wrapper
        #layoutError
            
            // Layout content
            #layoutError_content

                // Main page content
                main
                    
                    block content

            // Layout footer
            #layoutError_footer
                    
                include includes/footer.pug

        include includes/scripts.pug
