@using CascadeWebApp.Models
@using MudBlazor
@inject IDialogService DialogService

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; } = default!;
    [Parameter] public Batch Batch { get; set; } = default!;
    
    private void CloseDialog() => MudDialog.Close();
}

<div class="mud-dialog-title">
    <MudText Typo="Typo.h6">Batch Details - @Batch.BatchNumber</MudText>
</div>
<div class="mud-dialog-content">
    <MudText>Content placeholder...</MudText>
</div>
<div class="mud-dialog-actions">
    <MudButton OnClick="CloseDialog" Color="Color.Primary">Close</MudButton>
</div>