@using Microsoft.AspNetCore.Components.Authorization

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <div class="pa-4" style="background: #222; color: #fff;">
                <h5>Sorry, there's nothing at this address.</h5>
            </div>
        </NotFound>
    </Router>
</CascadingAuthenticationState>