// Simple DataTables example
table#datatablesSimple
    thead
        tr
            th(data-type="date", data-format="YYYY/MM/DD") Start Date
            th Order No.
            th Name
            th Amount
            th Status
    tbody
        tr
            td 2005/02/11
            td 9958
            td Unity Pugh
            td $12.00
            td
                span.badge.bg-primary Processing
        tr
            td 1999/04/07
            td 8971
            td Theodore Duran
            td $25.00
            td
                span.badge.bg-primary Processing
        tr
            td 2005/09/08
            td 3147
            td Kylie Bishop
            td $16.00
            td
                span.badge.bg-info Pending Payment
        tr
            td 2009/29/11
            td 3497
            td Willow Gilliam
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/11/09
            td 5018
            td Blossom Dickerson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/03/08
            td 3925
            td Elliott Snyder
            td $16.00
            td
                span.badge.bg-danger Failed
        tr
            td 2014/23/12
            td 9488
            td Castor Pugh
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/31/08
            td 6231
            td Pearl Carlson
            td $12.00
            td
                span.badge.bg-gray Refunded
        tr
            td 2014/26/08
            td 1579
            td Deirdre Bridges
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2000/11/01
            td 6095
            td Daniel Baldwin
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1999/16/04
            td 9519
            td Phelan Kane
            td $25.00
            td
                span.badge.bg-success Completed
        tr
            td 2011/26/01
            td 1339
            td Quentin Salas
            td $89.00
            td
                span.badge.bg-success Completed
        tr
            td 1999/06/11
            td 6583
            td Armand Suarez
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1998/26/10
            td 5393
            td Gretchen Rogers
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2008/06/08
            td 2824
            td Harding Thompson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/04/10
            td 4393
            td Mira Rocha
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2011/18/10
            td 2931
            td Drew Phillips
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/08/04
            td 6205
            td Emerald Warner
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2004/02/01
            td 7457
            td Colin Burch
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/28/04
            td 8916
            td Russell Haynes
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2000/18/04
            td 9011
            td Brennan Brooks
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/21/05
            td 8075
            td Kane Anthony
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/07/01
            td 1019
            td Scarlett Hurst
            td $25.00
            td
                span.badge.bg-success Completed
        tr
            td 2007/30/05
            td 3008
            td James Scott
            td $25.00
            td
                span.badge.bg-success Completed
        tr
            td 2009/15/02
            td 9054
            td Desiree Ferguson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2008/23/12
            td 9160
            td Elaine Bishop
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2004/23/05
            td 6307
            td Hilda Nelson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2009/12/03
            td 3820
            td Evangeline Beasley
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/19/02
            td 5694
            td Wyatt Riley
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/23/06
            td 3547
            td Wyatt Mccarthy
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2016/27/02
            td 6273
            td Cairo Rice
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/03/02
            td 6829
            td Sylvia Peters
            td $54.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/26/04
            td 5515
            td Kasper Craig
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2001/09/02
            td 5112
            td Leigh Ruiz
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2010/24/03
            td 5741
            td Athena Aguirre
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2003/26/02
            td 5533
            td Riley Nunez
            td $89.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/05/01
            td 9393
            td Lois Talley
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/25/09
            td 1024
            td Hop Bass
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2013/26/06
            td 9184
            td Kalia Diaz
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2011/23/04
            td 6682
            td Maia Pate
            td $12.00
            td
                span.badge.bg-danger Failed
        tr
            td 2015/03/08
            td 4457
            td Macaulay Pruitt
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2001/05/10
            td 9464
            td Danielle Oconnor
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/11/05
            td 4842
            td Kato Carr
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2007/25/04
            td 7133
            td Malachi Mejia
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/14/03
            td 3476
            td Dominic Carver
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2001/18/11
            td 4424
            td Paki Santos
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2010/19/09
            td 1862
            td Ross Hodges
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2011/05/07
            td 3514
            td Hilda Whitley
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2008/02/09
            td 4006
            td Roth Cherry
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2009/07/08
            td 8642
            td Lareina Jones
            td $12.00
            td
                span.badge.bg-danger Failed
        tr
            td 2010/15/01
            td 2289
            td Joshua Weiss
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/17/12
            td 5952
            td Kiona Lowery
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2008/27/01
            td 7567
            td Nina Rush
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/24/07
            td 2000
            td Palmer Parker
            td $18.00
            td
                span.badge.bg-success Completed
        tr
            td 2016/08/01
            td 3745
            td Vielka Olsen
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2007/16/02
            td 8604
            td Meghan Cunningham
            td $22.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/05/03
            td 6447
            td Iola Shaw
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2007/16/11
            td 4564
            td Imelda Cole
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1999/07/07
            td 6801
            td Jerry Beach
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2000/06/08
            td 3938
            td Garrett Rocha
            td $128.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/21/01
            td 1724
            td Derek Kerr
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/10/12
            td 5944
            td Shad Hudson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/12/11
            td 8276
            td Daryl Ayers
            td $48.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/13/02
            td 3094
            td Caleb Livingston
            td $24.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/06/02
            td 4576
            td Sydney Meyer
            td $12.00
            td
                span.badge.bg-gray Refunded
        tr
            td 2008/07/05
            td 8501
            td Lani Lawrence
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2004/19/04
            td 2576
            td Allegra Shepherd
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2005/15/02
            td 3178
            td Fallon Reyes
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2003/02/05
            td 4357
            td Karen Whitley
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2003/05/07
            td 5350
            td Stewart Stephenson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1999/16/12
            td 7544
            td Ursula Reynolds
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2014/15/09
            td 4425
            td Adrienne Winters
            td $56.00
            td
                span.badge.bg-danger Failed
        tr
            td 2000/12/06
            td 1337
            td Francesca Brock
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2013/27/06
            td 7629
            td Ursa Davenport
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/08/09
            td 3310
            td Mark Brock
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2000/27/03
            td 5050
            td Dale Rush
            td $18.00
            td
                span.badge.bg-success Completed
        tr
            td 2013/13/11
            td 3845
            td Shellie Murphy
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/22/10
            td 4539
            td Porter Nicholson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/11/01
            td 1265
            td Oliver Huber
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/23/03
            td 3315
            td Calista Maynard
            td $12.00
            td
                span.badge.bg-gray Refunded
        tr
            td 1999/25/04
            td 6825
            td Lois Vargas
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2001/22/03
            td 2785
            td Hermione Dickson
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2015/09/02
            td 5416
            td Dalton Jennings
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/27/07
            td 3380
            td Cathleen Kramer
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2006/04/09
            td 6730
            td Zachery Morgan
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/27/12
            td 4077
            td Yoko Freeman
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2010/25/07
            td 4240
            td Chaim Waller
            td $80.00
            td
                span.badge.bg-success Completed
        tr
            td 2016/23/02
            td 4532
            td Berk Johnston
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2010/09/05
            td 2902
            td Tad Munoz
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2001/09/01
            td 5653
            td Vivien Dominguez
            td $12.00
            td
                span.badge.bg-danger Failed
        tr
            td 2015/07/12
            td 3241
            td Carissa Lara
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1998/06/09
            td 8101
            td Hammett Gordon
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2011/12/11
            td 6901
            td Walker Nixon
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 2002/25/01
            td 5956
            td Nathan Espinoza
            td $12.00
            td
                span.badge.bg-success Completed
        tr
            td 1999/02/07
            td 4836
            td Kelly Cameron
            td $18.00
            td
                span.badge.bg-success Completed
        tr
            td 1998/07/07
            td 3796
            td Kyra Moses
            td $12.00
            td
                span.badge.bg-gray Refunded
        tr
            td 2012/02/10
            td 8340
            td Grace Bishop
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2000/30/01
            td 8136
            td Haviva Hernandez
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2007/01/11
            td 9853
            td Alisa Horn
            td $16.00
            td
                span.badge.bg-success Completed
        tr
            td 2012/03/03
            td 7516
            td Zelenia Roman
            td $16.00
            td
                span.badge.bg-success Completed