//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive
//- which points to a layout template. All of the layout options
//- are contained in src/pug/layouts.

extends ../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be
//- set for each page.

block config
    - var bodyClasses = 'bg-light'; // Use any background color utility
    - var navPosition = 'nav-fixed'; // Use 'nav-fixed' or null
    - var pageTitle = 'Knowledgebase'; // String. Enter the page title within a string

//- * * * * * * * * * * * * * * * *
//- * * Top App Bar Navigation  * *
//- * * * * * * * * * * * * * * * *

//- Declare the `block top-app-bar` from the layout
//- Note: This is required when using the dashboard layout!

block top-app-bar

    //- Declare the top-app-bar mixin 
    include mixins/top-app-bar.pug
    //- Use the top-app-bar mixin
    +top-app-bar({
        topAppBarStyle: 'navbar-dark',
        topAppBarBg: 'bg-dark'
    })

//- * * * * * * * * * * * * *
//- * * Drawer Navigation * *
//- * * * * * * * * * * * * *

//- Declare the `block drawer` from the layout
//- Note: This is required when using the dashboard layout!

block drawer

    //- Declare the drawer mixin 
    include mixins/drawer.pug
    //- Use the drawer mixin
    +drawer({
        drawerStyle: 'drawer-light',
        drawerBg: 'bg-white'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

block content

    // Page header
    header.bg-dark
        .container-xl.px-5
            h1.text-white.py-3.mb-0.display-6 Knowledgebase

    .container-xl.p-5

        .row.gx-5
            .col-lg-9
                // Page header
                header.mb-5
                    h2.display-5.mb-0 Material Admin Pro
                    p.lead.mb-4 Explore guides and troubleshooting topics about our product
                    mwc-textfield.w-100(label='Search', outlined, icontrailing='search', placeholder='What can we help you find?')
                // Divider
                hr.my-5
                // Segment
                section.mb-5
                    #main
                        h3.overline Main Categories
                        .row.gx-5
                            .col-md-6.mb-5
                                .card.card-raised.ripple-primary.h-100
                                    .card-body.p-4
                                        i.material-icons.icon-lg.text-primary payment
                                        h2.display-6 Payments
                                        p Build an online portal with a knowledgebase so your users know how to work with your product.
                                        a.stretched-link.fst-button.text-decoration-none.d-inline-flex.align-items-center(href='#!')
                                            | Get Started
                                            i.material-icons.icon-sm.ms-2 arrow_forward
                            .col-md-6.mb-5
                                .card.card-raised.ripple-primary.h-100
                                    .card-body.p-4
                                        i.material-icons.icon-lg.text-primary store
                                        h2.display-6 Business Operations
                                        p Build an online portal with a knowledgebase so your users know how to work with your product.
                                        a.stretched-link.fst-button.text-decoration-none.d-inline-flex.align-items-center(href='#!')
                                            | Learn More
                                            i.material-icons.icon-sm.ms-2 arrow_forward
                            .col-md-6.mb-5.mb-lg-0
                                .card.card-raised.ripple-primary.h-100
                                    .card-body.p-4
                                        i.material-icons.icon-lg.text-primary manage_accounts
                                        h2.display-6 Account
                                        p Build an online portal with a knowledgebase so your users know how to work with your product.
                                        a.stretched-link.fst-button.text-decoration-none.d-inline-flex.align-items-center(href='#!')
                                            | Browse Articles
                                            i.material-icons.icon-sm.ms-2 arrow_forward
                            .col-md-6
                                .card.card-raised.ripple-primary.h-100
                                    .card-body.p-4
                                        i.material-icons.icon-lg.text-primary admin_panel_settings
                                        h2.display-6 Security
                                        p Build an online portal with a knowledgebase so your users know how to work with your product.
                                        a.stretched-link.fst-button.text-decoration-none.d-inline-flex.align-items-center(href='#!')
                                            | View Settings
                                            i.material-icons.icon-sm.ms-2 arrow_forward
                    // Divider
                    hr.my-5
                // Related Articles
                #related
                    h3.overline Related Articles
                    .row
                        .col-md-4.col-lg-6.col-xxl-4.mb-4.mb-md-0.mb-lg-4.mb-xxl-0
                            .card.card-quick-link.card-raised.ripple-gray
                                .card-body
                                    img.card-quick-link-img(src='assets/img/icons/background.svg')
                                    .card-title.text-truncate.mb-2 Material Design Fundamentals
                                    p.card-text Fundamentals surrounding the material design language
                                .card-actions
                                    a.card-link.text-muted.text-decoration-none.stretched-link(href='#!') Related Link
                                    i.material-icons.text-muted.rotate-45 arrow_upward
                        .col-md-4.col-lg-6.col-xxl-4.mb-4.mb-md-0.mb-lg-4.mb-xxl-0
                            .card.card-quick-link.card-raised.ripple-gray
                                .card-body
                                    img.card-quick-link-img(src='assets/img/icons/cards.svg')
                                    .card-title.text-truncate.mb-2 Structure &amp; Sound
                                    p.card-text Instructions for using sound within your UI
                                .card-actions
                                    a.card-link.text-muted.text-decoration-none.stretched-link(href='#!') Related Link
                                    i.material-icons.text-muted.rotate-45 arrow_upward
                        .col-md-4.col-lg-6.col-xxl-4
                            .card.card-quick-link.card-raised.ripple-gray
                                .card-body
                                    img.card-quick-link-img(src='assets/img/icons/icons.svg')
                                    .card-title.text-truncate.mb-2 Targeting
                                    p.card-text How to target the perfect demographic for your app
                                .card-actions
                                    a.card-link.text-muted.text-decoration-none.stretched-link(href='#!') Related Link
                                    i.material-icons.text-muted.rotate-45 arrow_upward
                    // Divider
                    hr.my-5
                section.text-center
                    .subheading-1.mb-2 Was this article helpful?
                    .mb-3
                        button.btn.btn-outline-primary.mx-1(type='button')
                            i.material-icons.leading-icon thumb_up
                            | Yes
                        button.btn.btn-outline-primary.mx-1(type='button')
                            i.material-icons.leading-icon thumb_down
                            | No
                    .small.text-muted 4 out of 5 found this article helpful
            .col-lg-3.mb-5.mb-lg-0
                // Side column sticky navigation stick
                .sticky-top.nav-stick
                    .nav-heading
                        | Contents
                    ul.nav.flex-column#navStick
                        li.nav-item
                            a.nav-link(href='#main') Main categories
                        li.nav-item
                            a.nav-link(href='#related') Related articles
