//- * * * * * * * *
//- * * Layout  * *
//- * * * * * * * *

//- The page layout is set using the Pug `extends` directive
//- which points to a layout template. All of the layout options
//- are contained in src/pug/layouts.

extends ../layouts/dashboard.pug

//- * * * * * * * *
//- * * Config  * *
//- * * * * * * * *

//- These are page-level configuration options that should be
//- set for each page.

block config
    - var bodyClasses = 'bg-light'; // Use any background color utility
    - var navPosition = 'nav-fixed'; // Use 'nav-fixed' or null
    - var pageTitle = 'Dashboard'; // String. Enter the page title within a string

//- * * * * * * * * * * * * * * *
//- * * Page Specific Styles  * *
//- * * * * * * * * * * * * * * *

//- The main CSS is already included within the layout.
//- Below, the Pug `prepend` directive is used to load stylesheets
//- that are specific to this page.

prepend css
    // Load Simple DataTables Stylesheet
    link(href='https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css', rel='stylesheet')
    // Load Litepicker stylesheet
    link(href='https://cdn.jsdelivr.net/npm/litepicker/dist/css/style.css', rel='stylesheet')

//- * * * * * * * * * * * * * * * *
//- * * Top App Bar Navigation  * *
//- * * * * * * * * * * * * * * * *

//- Declare the `block top-app-bar` from the layout
//- Note: This is required when using the dashboard layout!

block top-app-bar

    //- Declare the top-app-bar mixin 
    include mixins/top-app-bar.pug
    //- Use the top-app-bar mixin
    +top-app-bar({
        topAppBarStyle: 'navbar-dark',
        topAppBarBg: 'bg-dark'
    })

//- * * * * * * * * * * * * *
//- * * Drawer Navigation * *
//- * * * * * * * * * * * * *

//- Declare the `block drawer` from the layout
//- Note: This is required when using the dashboard layout!

block drawer

    //- Declare the drawer mixin 
    include mixins/drawer.pug
    //- Use the drawer mixin
    +drawer({
        drawerStyle: 'drawer-light',
        drawerBg: 'bg-white'
    })

//- * * * * * * * * * * *
//- * * Page Content  * *
//- * * * * * * * * * * *

block content

    // Page header
    header.bg-primary
        .container-xl.p-5

            .row.align-items-center.justify-content-between

                .col-12.col-md.mb-4.mb-md-0
                    h1.mb-1.display-4.fw-500.text-white Welcome back, Robert!
                    p.lead.mb-0.text-white Your dashboard is ready to go!

                .col-12.col-md-auto.flex-shrink-0
                    label.form-label.text-white-50(for='litepickerDateRange') Date range:
                    input.form-control.mb-0#litepickerDateRange(placeholder='Select date range...', value='Mar 8, 2023 - Mar 14, 2023', style='min-width: 13rem; height: 3rem;')

    .container-xl.p-5

        .row.gx-5
            .col-lg-4.col-md-6.mb-5
                .card.card-raised.border-start.border-4.border-primary
                    .card-body.px-4
                        .overline.text-muted.mb-1 Gross Revenue
                        .d-flex.align-items-center.justify-content-between
                            .display-6.me-3 $32,502.00
                            .d-flex.align-items-center.text-success
                                i.material-icons.icon-sm.me-2 trending_up
                                .display-6.text-success.fw-normal 24%
                        .text-xs.text-muted.mb-1 Previous year: $46,018.00
            .col-lg-4.col-md-6.mb-5
                .card.card-raised.border-start.border-4.border-secondary
                    .card-body.px-4
                        .overline.text-muted.mb-1 Refunds
                        .d-flex.align-items-center.justify-content-between
                            .display-6.me-3 $0.00
                            .d-flex.align-items-center.text-muted
                                i.material-icons.icon-sm.me-2 trending_flat
                                .display-6.text-muted.fw-normal 0%
                        .text-xs.text-muted.mb-1 Previous year: $0.00
            .col-lg-4.col-md-6.mb-5
                .card.card-raised.border-start.border-4.border-info
                    .card-body.px-4
                        .overline.text-muted.mb-1 Coupons
                        .d-flex.align-items-center.justify-content-between
                            .display-6.me-3 $10.00
                            .d-flex.align-items-center.text-danger
                                i.material-icons.icon-sm.me-2 trending_down
                                .display-6.text-danger.fw-normal 10%
                        .text-xs.text-muted.mb-1 Previous year: $50.00

        .card.card-raised.mb-5
            .card-header.bg-transparent.px-4
                .d-flex.justify-content-between.align-items-center
                    .me-4
                        h2.display-6.mb-0 Orders
                        .card-text Details and history
                    .d-flex.gap-2
                        button.btn.btn-lg.btn-text-primary.btn-icon(type='button')
                            i.material-icons download
                        button.btn.btn-lg.btn-text-primary.btn-icon(type='button')
                            i.material-icons print
            .card-body.p-4
                include data-tables/orders-example.pug

        .row.gx-5

            .col-xl-6.mb-5
                .card.card-raised.h-100
                    .card-body.p-4
                        .d-flex.justify-content-between
                            .me-4
                                h2.display-6.mb-0 Privacy Suggestions
                                p.card-text Take our privacy checkup to choose which settings are right for you.
                            img(src='assets/img/illustrations/security.svg', alt='...', style='height: 6rem;')
                    .card-footer.bg-transparent.position-relative.ripple-gray.px-4
                        a.stretched-link.text-decoration-none(href='#!') Review suggestions (4)

            .col-xl-6.mb-5
                .card.card-raised.h-100
                    .card-body.p-4
                        .d-flex.justify-content-between
                            .me-4
                                h2.display-6.mb-0 Account Storage
                                p.card-text Your account storage is shared across all devices.
                                .progress.mb-2(style='height: 0.25rem;')
                                    .progress-bar(role='progressbar' style='width: 33%' aria-valuenow='10' aria-valuemin='0' aria-valuemax='30')
                                .card-text 10 GB of 30 GB used
                            img(src='assets/img/illustrations/cloud.svg', alt='...', style='height: 6rem;')
                    .card-footer.bg-transparent.position-relative.ripple-gray.px-4
                        a.stretched-link.text-decoration-none(href='#!') Manage storage

//- * * * * * * * * * * * * * * *
//- * * Page Specific Scripts * *
//- * * * * * * * * * * * * * * *

//- The main JS is already included within the layout.
//- Below, the Pug `append` directive is used to add scripts
//- that are specific to this page.

append scripts
    // Load Simple DataTables Scripts
    script(src='https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js', crossorigin='anonymous')
    script(src='js/datatables/datatables-simple-demo.js')
    // Load Litepicker plugin scripts
    script(src='https://cdn.jsdelivr.net/npm/litepicker/dist/js/main.nocss.js', crossorigin='anonymous')
    script(src='js/litepicker.js')
