// Load Favicon
link(href='assets/img/favicon.ico', rel='shortcut icon', type='image/x-icon')

// Load Material Icons from Google Fonts
link(href='https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp', rel='stylesheet')
