// Footer
// Min-height is set inline to match the height of the drawer footer
footer.py-4.mt-auto.border-top(style='min-height: 74px;', class=footerStyle)
    .container-xl.px-5
        .d-flex.flex-column.flex-sm-row.align-items-center.justify-content-sm-between.small
            .me-sm-2 Copyright &copy; Your Website 2023
            .d-flex.ms-sm-2
                a.text-decoration-none(href='#!') Privacy Policy
                .mx-1 &middot;
                a.text-decoration-none(href='#!') Terms &amp; Conditions
