// Popovers

$popover-bg:                        $white;
$popover-border-width:              0;

$popover-header-bg:                 $popover-bg;
$popover-header-padding-y:          1rem;

$popover-body-color:                $gray-700;

$popover-arrow-width:               .5rem;
$popover-arrow-height:              .5rem;
$popover-arrow-color:               transparent;

$popover-arrow-outer-color:         transparent;