@page "/"
@namespace CascadeWebApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <link href="app.css" rel="stylesheet" />
    <link href="CascadeWebApp.styles.css" rel="stylesheet" />
    <title>Cascade Web App</title>
</head>
<body style="background-color: #222; color: #fff;">
    <app>
        <component type="typeof(App)" render-mode="ServerPrerendered" />
    </app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>