@page "/"

<div class="d-flex justify-content-center align-items-center min-vh-100 bg-dark text-light" style="margin-top: -64px; padding-top: 64px;">
    <div class="text-center p-5">
        <img src="assets/img/company-logo.jpg" alt="Cascade Web App Logo" class="img-fluid" style="max-width: 400px; max-height: 300px;" />
    </div>
</div>