// * * * * * * * * * *
// * * List Group  * *
// * * * * * * * * * *

// Bring in Material ripple for use with list group action items



.list-group {
    .list-group-item-action {
        
        
        
        
        overflow: hidden;

        &:hover,
        &:focus,
        &:active {
            background-color: inherit;
        }
    }
}

// Creates a custom light variant of the list group

.list-group.list-group-light {
    .list-group-item {
        background-color: transparent;
        color: $white;
        border-color: fade-out($white, 0.8);
    }

    .list-group-item-action {
        
        
        
        
    }
}
