// // Alerts
// //
// // Define alert colors, border radius, and padding.

$alert-link-font-weight:            500;

$alert-bg-scale:                    -90%;
$alert-border-scale:                -80%;
$alert-color-scale:                 50%;
