// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

$table-cell-padding-y:        1rem;
$table-cell-padding-x:        1rem;
$table-cell-padding-y-sm:     .5rem;
$table-cell-padding-x-sm:     .5rem;

$table-color:                 $gray-900;

$table-th-font-weight:        500;

$table-striped-bg-factor:     .025;

$table-hover-bg-factor:       .04;
